 /* .img-size {
        width: 100%;
      } */
      .hero {
        background: #bdb7bb;
      }
      .sect-3 {
        background: linear-gradient(160deg,#547096,#965487);
      
      }
      .col1 {
          padding-top: 200px !important;
        }
      .c-blue{
        color:blue
      }
      h1 {
        font-size: 70px;
        font-weight: 700;
        text-align: left;
      }

      .sect-3 p {
        color: #fff;
        font-size: 20px;  
        font-weight: 300;
      }

      .icons{
        width: 50px;
        height: 50px;
        color: #965487;
      }
      .bg-blue {
        background: #547096;
      }

      .features{
      transition: transform 0.5s;
      }
      .features:hover {
        transform: translateY(-10px);
      }



/* header {
    background: linear-gradient(160deg,#9ce562,#6a6a8f);
}

.text-primary{
    color: #1212ff;
}

.img-logo {
    width: 100%;
    border-radius: 25px;
    transition: transform 0.5s;
}

.img-logo:hover {

transform: translateY(-10px);
}

.icons {
    height: 32px;
    width: 32px;
    color: #082ff3;
    background: #ffffff;
    padding: 6px;
    margin-bottom: 16px;
}

.blue-bg {
    background: #1212ff;
    color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    background: #082ff3;
    color: #ffffff;
}

.nav-tabs{
    border: none;
} */